@import "main";
@import "color";
@default-page-width: 48rem;
@default-page-height: 30rem;
@dev-page-color: fadeout(@black, 93%);

.page(@page-width: @default-page-width;
      @page-height: @default-page-height) {
  width: 100%;
  // min-height: @page-height;
}

.page when (@dev) {
  background-color: @dev-page-color;
}

.page-background(@page-color) {
  background-color: @page-color;
}

body>section, body>main>section {
  .page()
}

body>header, body>footer {
  .page(@page-height: 7.5rem)
}
