@import "../main";
@import "../media-sizes";
@import "../grids";
@import "../color";

section.three-qualities {
  .page(@background: @black);
  &>h2 { display: none; }
}

section.three-qualities>* {
  .grid();
  &>h2, h3, h4, h5, p {
    font-size: 3rem;
    line-height: 3rem;
  }
  &>h3 {
    font-weight: 400;
  }
  &>p {
    font-weight: 100;
  }
}

section.three-qualities>*>* {
  float: left;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  margin: 0rem 0.75rem;
  padding: 0 0;
  &:first-child {
    margin-left: 0;
    width: 15rem;
    height: 9rem;
  }
  &:last-child {
    margin-right: 0;
    width: 31.5rem;
    height: 9rem;
  }
}

section.three-qualities>*>* when (@dev) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/rectangle.svg');
  overflow: hidden;
}
